# Neon
DATABASE_URL=

# Better Auth
BETTER_AUTH_URL=
BETTER_AUTH_SECRET=

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Job Search API
JOB_SEARCH_API_KEY=

# Cohere AI
COHERE_API_KEY=